<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">


        <!-- 那些资源不拦截 -->
        <security:http pattern="/login.jsp" security="none"></security:http>
        <security:http pattern="/failer.jsp" security="none"></security:http>

        <security:http pattern="/css/**" security="none"></security:http>
        <security:http pattern="/img/**" security="none"></security:http>
        <security:http pattern="/plugins/**" security="none"></security:http>

        <security:http auto-config="true" use-expressions="true">
            <!-- 那些资源拦截 -->
            <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_USER,ROLE_ADMIN')"></security:intercept-url>
            <!-- 配置登录页面 -->
            <security:form-login login-page="/login.jsp" login-processing-url="/login" default-target-url="/index.jsp" authentication-failure-url="/failer.jsp"></security:form-login>
            <!-- 关闭跨越攻击 -->
            <security:csrf disabled="true"></security:csrf>

            <security:access-denied-handler error-page="/403.jsp"></security:access-denied-handler>
            <!-- 退出 -->
            <security:logout invalidate-session="true" logout-url="/logout" logout-success-url="/login.jsp"/>
        </security:http>

        <security:global-method-security secured-annotations="enabled"/>

        <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
        <security:authentication-manager alias="authenticationManager">
            <security:authentication-provider user-service-ref="sysUsersService">
                <security:password-encoder ref="passwordEncoder"></security:password-encoder>
            </security:authentication-provider>
        </security:authentication-manager>
</beans>